<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

<p>
	Splurty was built by <a target="_blank" href="http://quophi.mooo.com">Kofi Appiah-Nkansah</a>, an up and coming web developer who loves a great challenge and is seeking the next big project. 
</p>
<br />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'kofi.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Kofi Appiah-Nkansah</h2>
    <br />
    

<p>
	Kofi started out in the biopharmaceuticals field where he worked as <a target="_blank" href="https://www.linkedin.com/pub/kofi-appiah-nkansah/1a/559/412">a process engineer</a> supporting vaccine manufacture and filling. He's currently working to transition into web development/software engineering.
</p>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />