<h2>
  <span>SPLURTY / No. <%= @quote.id %></span>
  Here's a peaceful quote to calm the soul:
</h2>

<h1><%= @quote.saying %></h1>
<h2>- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />